<html>
<head>
<title>Exercise 1</title>
</head>
<body>
    ============================================
{{range .}}
    <p>{{.Name}} Time</p>
    ============================================
    {{range .Items}}
        <p>Name: {{.Name}}</p>
        <p>Price: {{.Price}}</p>

    {{end}}
    ============================================
{{end}}
</body>
</html>